<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/libraries")
</head>
<body>
    <div class="main-container">
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                    </p>
                </div>
            </div>
        </header>

        @RenderBody()
        <div ui-view class="container w100 p0"></div>
        @Scripts.Render("~/bundles/libraries")
        @Scripts.Render("~/bundles/mainScripts")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
