<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/libraries")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                </p>
            </div>

            <div class="float-right">
            </div>

        </div>
    </header>

    @RenderBody()
    <div ui-view class="container"></div>
    @Scripts.Render("~/bundles/libraries")
    @Scripts.Render("~/bundles/mainScripts")
    @RenderSection("scripts", required: false)
</body>
</html>
